.relative{
    width: 100px;
    height: 100px;
    background-color: rgba(255,0, 0, .3);
    position: relative;
    top: 20px;
    left: 40px;
}
.absolute{
    width: 100px;
    height: 100px;
    background-color: rgba(0,255, 0, .3);
    position: absolute;
    bottom: 30px;
    right: 30px;
}